* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
}

.main {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: linear-gradient(100deg, #ffd3f4, #b9e7fa);
}

textarea {
    height: 40px;
    width: 85%;
    border: 2px solid transparent;
    margin-bottom: 15px;
    margin-top: 15px;
    padding-inline-start: 15px;
    padding-inline-end: 15px;
    padding-top: 7px;
    resize: none;
    background-color: #fff; 
    outline: none;
    font-size: 15px;
    border-radius: 15px;
    transition: .5s ease;
}

textarea::placeholder {
    padding-left: 1px;
}

textarea:hover {
    border: 2px solid rgb(119, 119, 119);
}

textarea:focus {
    border: 2px solid rgb(119, 119, 119);
}

h2 {
    font-size: 65px;
}

h4 {
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 2px;
}

.all-elms {
    width: 90%;
    max-width: 700px;
    height: 550px;
    border: 1px solid transparent;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15), 5px 5px 15px rgba(0, 0, 0, 0.15);

}

.send-row {
    border: transparent;
    width: 100%;
    height: 50px;
    display: flex;
    background-color: #fff;
    border-radius: 0 0 10px 10px;
    text-align: right;
    justify-content: center;
    align-items: center;
    gap: 1px;
}

button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid transparent;
    border-radius: 100%;
    background-color: rgb(255, 112, 243);
    font-size: 15px;
    margin-left: 5px;
    transition: .5s ease;
    gap: 1px;
}

.btn.mic {
    padding: 11px 13px;
}

.btn.ask {
    padding: 11px 11px;
}

button:hover {
    background-color: rgb(245, 158, 238);
}

.response-section {
    flex: 1;
    background: #fff;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.response-container {
    margin-top: 10px;
    width: 99%;
    padding: 15px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #fff;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.response-container::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

.response-container::-webkit-scrollbar-track {
    background: rgba(0,0,0,0.1); 
}

.response-container::-webkit-scrollbar-thumb {
    background:rgba(83, 83, 83, 0.3);    
    border-radius: 5px;
}

.response-container::-webkit-scrollbar-thumb:hover {
    background: #919090;
}


.response {
    background-color: #f1f1f1;
    border-radius: 8px;
    padding: 10px;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    color: #333;
    max-width: 100%;
    width: fit-content;
    word-wrap: break-word;
}

.response:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15)
}